--- 
---

@import "{{ site.theme }}";

/*  Importing the IBM Plex fonts from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

/* Basic typography */
html, body {
  font-family: 'IBM Plex Serif', Georgia, serif;
}
.typeset {
  font-family: inherit !important;
}
.typeset .small, .typeset .caption {
  font-family: inherit !important;
}
.typeset p {
  margin-bottom: 0.75rem;
  padding-top: 0.5rem;
}
.header, .footer {
  font-family: 'IBM Plex Sans', Verdana, sans-serif;
  hyphens: manual;  /* No automatic hyphenation in the headings */
}
body {
  font-size: 1.25rem /* Theme: 1.3333333333rem; */;
  hanging-punctuation: first last force-end;
}
h1, h2, h3, h4, h5, h6, .typeset h1, .typeset h2, .typeset h3, .typeset h4, .typeset h5, .typeset h6 {
  font-family: 'IBM Plex Sans', Verdana, sans-serif;
  font-weight: 600;
  hyphens: manual;  /* No automatic hyphenation in the headings */
}
code, pre, .typeset code, .typeset pre {
  background-color: #F3F3F3;
  font-family: 'IBM Plex Mono', Menlo, monospace;
  font-size: inherit !important;
}
strong, b {
  letter-spacing: 0.015em;
}
.sansserif {
  font-family: 'IBM Plex Sans', Verdana, sans-serif; 
}
.sansserif b, .sansserif strong {
  font-weight: 600;
}

/* Enable automatic hyphenation for the body text */
.typeset {
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  -webkit-hyphens: auto;
  -webkit-hyphenate-limit-before: 2;
  -webkit-hyphenate-limit-after: 4;
  -ms-hyphens: auto;
  -ms-hyphenate-limit-chars: 7 2 4;
  -moz-hyphens: auto;
}

/* Override font-size and line-height settings of the Theme */
/* Settings for navigation when hamburger menu is shown */
.button--nav {
  line-height: 4.5rem; 
}
.list--nav {
  line-height: 2.5rem;
}
.logo {
  margin-top: 0.9rem;
}
/* Settings for larger screen sizes */
@media screen and (min-width: 40em) {
  body {
    font-size: 1.2rem /* 1.2142857143rem */;
  }
  /* Settings for navigation when list is shown */
  .list--nav {
    line-height: 5rem;
  }
  .logo {
    margin-top: 0;
  }
}
@media screen and (min-width: 50em) {
  body {
    font-size: 1.175rem /* 1.2rem */;
  }
  .list--nav {
    line-height: 4.8rem;
  }
}
@media screen and (min-width: 64em) {
  body {
    font-size: 1.1rem /* 1.1764705882rem */;
  }
  .typeset p {
    line-height: 1.85rem;
  }
  h1, .typeset h1, {
    font-size: 2rem;
  }
  h2, .typeset h2, {
    font-size: 1.8rem;
  }
  h3, .typeset h3, {
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 100em) {
  body {
    font-size: 1rem /* 1.1578947368rem */;
  }
  .typeset p {
    line-height: 1.75rem;
  }
}

/* Needed to make SVG logo visible */
.logo img {
  height: 5rem;
}

/* Make hyperlinks blue and remove all decoration */
a {
  color: #004385;
  font-weight: 500;
  text-decoration: none;
  background-color: transparent;
  background-image: none !important;
}
a:hover, a:active, a:focus {
  color: #004385;
  /* color: inherit !important; */
  text-decoration: underline;
}
.icon, .icon--nav {
  /* vertical-align: middle;
  width: 1.1em;
  height: 1.1em; */
  color: #004385;
}
